* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
    width: 75%;
    margin: auto;
    background-color: rgb(231, 231, 231);
    color: rgb(20, 20, 20);
    margin-bottom: 100px;  /* debug */
}
.dark-mode {
    background-color: rgb(20, 20, 20);
    color: #fff;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
}
section {
    margin-top: 70px;
}
.btn {
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-weight: 600;
    background-color: #0F62FE;
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
}
.section-intro {
    text-align: center;
    margin-bottom: 90px;
}
.section-intro h3 {
    font-size: 2rem;
}
.section-intro h5 {
    font-size: 1.1rem;
    font-weight: 400;
}
.btn:hover {
    color: rgb(231, 231, 231);
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    margin: 20px 0;
    align-items: center;
}
.logo {
    width: 100%;
    position: relative;
}
header img {
    width: 5rem;
}
.portfolio-owner {
    position: absolute;
    font-size: 1.5rem;
    left: 25px;
    top: 12px;
}
header ul{
    justify-self: end;
}
header li {
    margin: 0 10px;
    font-weight: 600;
    cursor: pointer;
}
header li:hover {
    color: #0F62FE;
}
header ul:last-child {
    font-size: 1.2rem;
}

/* MAIN */

.hero {
    display: grid;
    grid-template-columns: 1fr 6fr 6fr;
    grid-template-rows: auto;
    width: 100%;
    margin-top: 50px;
    column-gap: 70px;
}
.hero-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas: 
        "github"
        "linkedin"
        "print";
}
.hero i {
    font-size: 1.5rem;
    color: #0F62FE;
}
.hero i:hover {
    opacity: .6;
}
.github-link {
    grid-area: github;
    justify-self: center;
    align-self: end;
}
.linkedin-link {
    grid-area: linkedin;
    place-self: center;
}
.fa-print {
    grid-area: print;
    justify-self: center;
}
.hero-center {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
}
.hero-center h1 {
    font-size: 2.5rem;
    align-self: end;
}
.hero-center h5 {
    font-size: 1.3rem;
    font-weight: 300;
    align-self: center;
}
.hero-center p {
    font-size: 1.5rem;
    align-self: start;
}
.hero-center a {
    margin-right: auto;
    align-self: start;
    justify-self: start;
    margin: 20px 0;
}
.hero-right {
    display: grid;
    align-items: center;
    justify-items: center;
}
.hero-right img {
    width: 75%;
}

/* ABOUT ME */

.about-content {
    display: grid;
    grid-template-columns: 1fr 2fr 40px;
    grid-template-rows: auto;
}
.about-content-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 70px;
}
.about-numbers {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
}
.about-content img {
    justify-self: center;
    align-self: start;
    width: 70%;
    border-radius: 50px;
}
.about-content p {
    font-size: 1.2rem;
}
.about-numbers strong {
    font-size: 1.7rem;
}
.about-numbers p {
    font-size: 1rem;
    font-weight: 300;
}
.exp {
    text-align: center;
}
.about-content .btn {
    margin: 0 auto;
    align-self: end;
}

/* SKILLS */

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.accordion-item {  
    border-radius: .4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #0F62FE;
}
.accordion-link {
    font-size: 1.1rem;
    color: #0F62FE;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
}
.accordion-link i {
    padding: .5rem;
    justify-self: end;
}
.accordion .fa-angle-up {
    display: none;
}
.skills-stats {
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s;
}
.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px 0;
    font-weight: 500;
}
.num-perc {
    justify-self: end;
}
.perc-bar {
    width: 100%;
    height: 7px;
    background-color: rgba(15, 98, 254, 0.5);
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    border-radius: 3.5px;
}
.perc {
    position: absolute;
    height: 7px;
    background-color: #0F62FE;
    border-radius: 3.5px;
}
.perc-50 {width: 50%;}
.perc-70 {width: 70%;}
.perc-15 {width: 15%;}
.perc-60 {width: 60%;}
.perc-45 {width: 45%;}
.accordion-item:target .skills-stats {
    max-height: 20rem;
}
.accordion-item:target .accordion-link .fa-angle-down {
    display: none;
}
.accordion-item:target .accordion-link .fa-angle-up {
    display: block;
}